body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: rgb(250, 237, 237);
}

.top-products{
min-height: 100vh;
}

.site-container{
  min-height: 100vh;
}
main{
  margin: 1rem;
}

.banner-image img{
 object-fit: cover;
}

.products
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-primary{
  background-color: #f0c040;
  color: black;
}
.product{
  border: 1px solid black;
  margin: 1rem;
}

.product img 
{
  max-height: 400px;
  width: 100%;
  max-width: 350px;
  object-fit: cover;
}

.product-info{
  padding: 1rem;
}

a{
  text-decoration: none;
  color: black;
}
